body{
    background-color: rgb(255, 253, 238);
    text-align: center;
}

h1{
    font-family: fantasy;
    text-align: center;
}
h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

.intro{
    background-color: rgb(253, 78, 78);
    padding-top: 10px;
    padding-bottom: 10px;
}

.types{
    margin-top: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgb(253, 78, 78);
}

button{
    background-color: rgb(255, 253, 238);
    border-radius: 5px;
    color: rgb(253, 78, 78);
    width: 125px;
    height: 55px;
    font-size: 15px;
}